<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beiyou.mapper.StudentInfoMapper">
    <!--<cache type="org.mybatis.caches.redis.RedisCache"/>-->
  <select id="SelectAll" resultType="student">
        select * from student_info
    </select>
  <select id="SelectSingle" resultType="student">
        select * from student_info where id = #{id}
    </select>
  <select id="selectlimt" resultType="student">
        select * from student_info limit #{page},#{limit}
    </select>
  <delete id="deleteById" >
        delete from student_info where id =#{id}
    </delete>
  <insert id="addStudent" >
        insert  into student_info values (null,#{name},#{sex},#{seat},#{desc},null)
  </insert>
    <insert id="batchStudents" parameterType="com.beiyou.pojo.Student">
        insert  into student_info(stu_name, stu_sex, stu_seat, stu_desc) values (#{stu_name},#{stu_sex},#{stu_seat},#{stu_desc})
    </insert>

</mapper>